@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap');

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primary-color: #0984e3;
$secondary-color: #74b9ff;
$light-color: #dfe6e9;
$dark-color: #2d3436;
$max-width: 1200px;

// utils
.container {
  max-width: $max-width;
  padding: 1rem;
  margin: 1rem auto;
}
.text-center {
  text-align: center;
}

.primary-text {
  color: $primary-color;
}
.secondary-text {
  color: $secondary-color;
}
.light-text {
  color: $light-color;
}
.dark-text {
  color: $dark-color;
}

.bg-light {
  color: $dark-color;
  background-color: $light-color;
}

.bg-dark {
  color: $light-color;
  background-color: $dark-color;
}

.bg-primary-light {
  color: $light-color;
  background-color: $primary-color;
}

.bg-primary-dark {
  color: $dark-color;
  background-color: $primary-color;
}

.primary-color {
  background-color: $primary-color;
}
.secondary-color {
  background-color: $secondary-color;
}
.light-color {
  background-color: $primary-color;
}
.dark-color {
  background-color: $primary-color;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

// buttons
.btn {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
  &:hover {
    opacity: 0.7;
  }
}

.btn-primary {
  color: $light-color;
  background-color: $primary-color;
}

.btn-dark {
  color: $dark-color;
  background-color: $light-color;
}
.btn-light {
  color: $light-color;
  background-color: $dark-color;
}

.btn-search {
  background-color: $light-color;
  color: $dark-color;
  width: 15%;
}

// cards

.card {
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

// margins

.my-1 {
  margin: 0.5rem 0;
}
.my-2 {
  margin: 1rem 0;
}
.my-3 {
  margin: 1.5rem 0;
}
.my-4 {
  margin: 2rem 0;
}

.mx-1 {
  margin: 0 0.5rem;
}
.mx-2 {
  margin: 0 1rem;
}
.mx-3 {
  margin: 0 1.5rem;
}
.mx-4 {
  margin: 0 2rem;
}

.mt-1 {
  margin-top: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}
.mb-4 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 1.5rem;
}
.mt-4 {
  margin-top: 2rem;
}
// images

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.round-img {
  border-radius: 50%;
}

// pagination btn

.pagination-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn {
    margin: 0.5rem;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, $secondary-color, $primary-color);
  height: 100vh;
  line-height: 1.5;
}

// header
#header {
  .logo {
    padding: 1rem;
  }
}

// search bar form

.section {
  h2 {
    color: #fff;
  }
  &-search-bar {
    .search-form {
      display: flex;
      flex-direction: row;
      .search-input,
      .city-input,
      .btn-search {
        font-size: 1.1rem;
        padding: 1rem 0.5rem;
        outline: none;
        border-radius: 5px;
        border: none;
      }
      .search-input {
        flex: 4;
      }
      .city-input {
        margin: 0 0.5rem;
      }

      .city-input,
      .search-btn {
        flex: 1;
      }
    }
  }

  &-search-results {
    .results-container {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-gap: 0.5rem;

      //left container
      .left-container {
        .search-results {
          padding: 0.5rem;
          .search-item {
            &:hover {
              opacity: 0.7;
            }
            a {
              .title,
              .location {
                display: block;
              }
              .location {
                font-weight: 200;
              }
            }
          }
        }
      }

      //right container
      .right-container {
        background-color: $light-color;
        padding: 1rem;

        .event-content {
          display: grid;
          grid-template-columns: 1fr 2fr;
          padding: 1rem;
          grid-gap: 0.5rem;
          background-color: #eee;
          // event profile
          .event-profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid $dark-color;
          }

          //   event-detail
          .event-detail {
            border: 1px solid $dark-color;
            padding: 1rem;
            .event-detail-content {
              p {
                font-weight: 200;
              }
            }
            // event info
            .event-info {
              .description-info {
                padding: 0.5rem;
                font-weight: 200;
              }
            }
          }
        }

        // artist lineup
        .artist-lineup {
          padding: 1rem;
          h4 {
            color: $light-color;
          }

          .artist-collections {
            background-color: #eee;

            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .artist-item {
              border-radius: 5px;
              border: 1px solid $dark-color;
              margin: 1rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              flex: 28%;
              img {
                margin-top: 0.5rem;
              }
            }
          }
        }

        // venue details
        .venue-detail {
          h4 {
            margin: 1rem 0;
          }
          padding: 1rem;
          // venue collection
          .venue-collections {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0.5rem;
            padding: 1rem;
            background-color: #eee;

            .venue-item {
              text-align: center;

              border: 1px solid $dark-color;
              i {
                margin-top: 0.5rem;
                display: block;
                font-size: 2rem;

                margin-bottom: 1rem;
              }
              span {
                display: block;
                font-weight: 200;
              }
            }
          }
        }
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $dark-color;
  color: $light-color;
  div {
    padding: 1rem;
  }
}

// tablet pro
@media screen and (max-width: 1050px) {
  .section {
    &-search-results {
      .results-container {
        grid-template-columns: 40% 60%;
        //right container
        .right-container {
          .event-content {
            grid-template-columns: 1fr;
          }

          .venue-detail {
            // venue collection
            .venue-collections {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }
    }
  }
}

// tablet
@media screen and (max-width: 800px) {
  .section {
    &-search-results {
      .results-container {
        //right container
        .right-container {
          // artist lineup
          .artist-lineup {
            .artist-collections {
              flex-direction: column;
              justify-content: center;
            }
          }
          .venue-detail {
            // venue collection
            .venue-collections {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 688px) {
  .section {
    &-search-bar {
      .search-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .search-input,
        .city-input {
          width: 100%;
          margin-bottom: 1rem;
        }
        .btn-search {
          width: 100%;
        }
      }
    }
    &-search-results {
      .results-container {
        grid-template-columns: 1fr;
      }
    }
  }
}
